body {
    padding: 0;
    margin: 0;
}

.outer {
    text-align: center;
}

.select-maze__wrap {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.select-maze {
    height: 30px;
    padding-left: 10px;
    width: 120px;
}

.select-maze:focus {
    outline: none;}

.select-maze__button {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.maze {
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.maze__row {
    padding: 0;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
}

.maze__cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid #eee;
}

.maze__cell_wall {
    background-color: #333;
}

.maze__cell_path {
    background-color: #f4ea50;
}

.maze__cell_current {
    background-color: #f21000;
}

.maze__cell_step {
    background-color: #0BB4CF;
}